@use "../../../sass/abstract/" as *;

.main-section8 {
    width: 100%;
    height: 100%;
    background-color: #efefef;
    padding: 2% 0px;
    .inside-section {
        width: 100%;
        height: 100%;
    }
    .cardsss {
        width: 30.4%;
        height: 250px;
        background-color: white;
        box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
        cursor: pointer;
        padding: 10px 20px;
        position: relative;
    }
    .cardsss:hover {
        background-color: #00475d;
        color: white;
        transition: 1s;
    }
    .inside-image {
        position: absolute;
        bottom: 0;
        right: 0;
        color: #e4e4e4;
        z-index: auto !important;
    }
}
